body {
    background: rgb(176, 148, 243);
    font: normal 13pt Arial;
}

section {
    background-color: aliceblue;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    height: 200px;
    width: 500px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: left;
    padding: 3px;
}

header {
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    color: rgba(118, 106, 224, 0.774);
} 

select {
    width: 200px;
    height: 140px;
}
